form > h1{
    font-size: 1.5rem;
    color: #8A2BE2;
    text-align: center;
}
hr{
    color: #0000ff;
}
form{
    width: 25rem;
    height: 13rem;
    border-style: solid;
    position: fixed;
    inset: 0px;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}
.label{
    width: 8rem;
}
form > ._link{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: rgb(70, 144, 247);
}
a:visited{
    text-decoration: underline;
    color: purple;
}
a:hover{
    color: blue;
    text-decoration: underline;
}