table{
    border-collapse: collapse;
    width: 25rem;
    height: 8rem;
    position: fixed;
    inset: 0px;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto
}

input{
    margin: 0.3rem;
}
label{
    margin-right: 1.8rem;
}
form > h1{
    font-size: 1.3rem;
    text-align: center;
}
#_container{
    border-style: solid;
    width: 30rem;
    height: 18rem;
    position: fixed;
    inset: 0px;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto
}
body > div{
    background-color:antiquewhite;
}
#submit{
    text-align: center;
}